babeldoc/format/pdf/document_il/il_version_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="page"/>
      </xs:sequence>
      <xs:attribute name="totalPages" use="required" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="page">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mediabox"/>
        <xs:element ref="cropbox"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfXobject"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pageLayout"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfRectangle"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfFont"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfParagraph"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfFigure"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfCharacter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfCurve"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfForm"/>
        <xs:element ref="baseOperations"/>
      </xs:sequence>
      <xs:attribute name="pageNumber" use="required" type="xs:int"/>
      <xs:attribute name="Unit" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mediabox">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cropbox">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baseOperations" type="xs:string"/>
  <xs:element name="box">
    <xs:complexType>
      <xs:attribute name="x" use="required" type="xs:float"/>
      <xs:attribute name="y" use="required" type="xs:float"/>
      <xs:attribute name="x2" use="required" type="xs:float"/>
      <xs:attribute name="y2" use="required" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PDFXrefId">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:element name="pdfFont">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfFontCharBoundingBox"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="fontId" use="required" type="xs:string"/>
      <xs:attribute name="xrefId" use="required" type="PDFXrefId"/>
      <xs:attribute name="encodingLength" use="required" type="xs:int"/>
      <xs:attribute name="bold" type="xs:boolean"/>
      <xs:attribute name="italic" type="xs:boolean"/>
      <xs:attribute name="monospace" type="xs:boolean"/>
      <xs:attribute name="serif" type="xs:boolean"/>
      <xs:attribute name="ascent" type="xs:float"/>
      <xs:attribute name="descent" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfFontCharBoundingBox">
    <xs:complexType>
      <xs:attribute name="x" use="required" type="xs:float"/>
      <xs:attribute name="y" use="required" type="xs:float"/>
      <xs:attribute name="x2" use="required" type="xs:float"/>
      <xs:attribute name="y2" use="required" type="xs:float"/>
      <xs:attribute name="char_id" use="required" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfXobject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfFont"/>
        <xs:element ref="baseOperations"/>
      </xs:sequence>
      <xs:attribute name="xobjId" use="required" type="xs:int"/>
      <xs:attribute name="xrefId" use="required" type="PDFXrefId"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pdfStyle"/>
        <xs:element ref="box"/>
        <xs:element minOccurs="0" ref="visual_bbox"/>
      </xs:sequence>
      <xs:attribute name="vertical" type="xs:boolean"/>
      <xs:attribute name="scale" type="xs:float"/>
      <xs:attribute name="pdfCharacterId" type="xs:int"/>
      <xs:attribute name="char_unicode" use="required" type="xs:string"/>
      <xs:attribute name="advance" type="xs:float"/>
      <xs:attribute name="xobjId" type="xs:int"/>
      <xs:attribute name="debug_info" type="xs:boolean"/>
      <xs:attribute name="formula_layout_id" type="xs:int"/>
      <xs:attribute name="renderOrder" type="xs:int"/>
      <xs:attribute name="subRenderOrder" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="visual_bbox">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pageLayout">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:int"/>
      <xs:attribute name="conf" use="required" type="xs:float"/>
      <xs:attribute name="class_name" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="graphicState">
    <xs:complexType>
      <xs:attribute name="passthroughPerCharInstruction" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="graphicState"/>
      </xs:sequence>
      <xs:attribute name="font_id" use="required" type="xs:string"/>
      <xs:attribute name="font_size" use="required" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfParagraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
        <xs:element ref="pdfStyle"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfParagraphComposition"/>
      </xs:sequence>
      <xs:attribute name="xobjId" type="xs:int"/>
      <xs:attribute name="unicode" use="required" type="xs:string"/>
      <xs:attribute name="scale" type="xs:float"/>
      <xs:attribute name="optimal_scale" type="xs:float"/>
      <xs:attribute name="vertical" type="xs:boolean"/>
      <xs:attribute name="FirstLineIndent" type="xs:boolean"/>
      <xs:attribute name="debug_id" type="xs:string"/>
      <xs:attribute name="layout_label" type="xs:string"/>
      <xs:attribute name="layout_id" type="xs:int"/>
      <xs:attribute name="renderOrder" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfParagraphComposition">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="pdfLine"/>
        <xs:element ref="pdfFormula"/>
        <xs:element ref="pdfSameStyleCharacters"/>
        <xs:element ref="pdfCharacter"/>
        <xs:element ref="pdfSameStyleUnicodeCharacters"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
        <xs:element maxOccurs="unbounded" ref="pdfCharacter"/>
      </xs:sequence>
      <xs:attribute name="renderOrder" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfSameStyleCharacters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
        <xs:element ref="pdfStyle"/>
        <xs:element maxOccurs="unbounded" ref="pdfCharacter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfSameStyleUnicodeCharacters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="pdfStyle"/>
      </xs:sequence>
      <xs:attribute name="unicode" use="required" type="xs:string"/>
      <xs:attribute name="debug_info" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
        <xs:element maxOccurs="unbounded" ref="pdfCharacter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfCurve"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfForm"/>
      </xs:sequence>
      <xs:attribute name="x_offset" use="required" type="xs:float"/>
      <xs:attribute name="y_offset" use="required" type="xs:float"/>
      <xs:attribute name="x_advance" type="xs:float"/>
      <xs:attribute name="lineId" type="xs:int"/>
      <xs:attribute name="is_corner_mark" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfFigure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfRectangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
        <xs:element ref="graphicState"/>
      </xs:sequence>
      <xs:attribute name="debug_info" type="xs:boolean"/>
      <xs:attribute name="fill_background" type="xs:boolean"/>
      <xs:attribute name="xobjId" type="xs:int"/>
      <xs:attribute name="lineWidth" type="xs:float"/>
      <xs:attribute name="renderOrder" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfCurve">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
        <xs:element ref="graphicState"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfPath"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pdfOriginalPath"/>
      </xs:sequence>
      <xs:attribute name="debug_info" type="xs:boolean"/>
      <xs:attribute name="fill_background" type="xs:boolean"/>
      <xs:attribute name="stroke_path" type="xs:boolean"/>
      <xs:attribute name="evenodd" type="xs:boolean"/>
      <xs:attribute name="xobjId" type="xs:int"/>
      <xs:attribute name="renderOrder" type="xs:int"/>
      <xs:attribute name="ctm">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union memberTypes="xs:float xs:float xs:float xs:float xs:float xs:float"/>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:length value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="relocation_transform">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union memberTypes="xs:float xs:float xs:float xs:float xs:float xs:float"/>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:length value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfOriginalPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pdfPath"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfPath">
    <xs:complexType>
      <xs:attribute name="x" use="required" type="xs:float"/>
      <xs:attribute name="y" use="required" type="xs:float"/>
      <xs:attribute name="op" use="required" type="xs:string"/>
      <xs:attribute name="has_xy" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="box"/>
        <xs:element ref="graphicState"/>
        <xs:element ref="pdfMatrix"/>
        <xs:element ref="pdfAffineTransform"/>
        <xs:element ref="pdfFormSubtype"/>
      </xs:sequence>
      <xs:attribute name="xobjId" use="required" type="xs:int"/>
      <xs:attribute name="ctm">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union memberTypes="xs:float xs:float xs:float xs:float xs:float xs:float"/>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:length value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="relocation_transform">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union memberTypes="xs:float xs:float xs:float xs:float xs:float xs:float"/>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:length value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="renderOrder" use="required" type="xs:int"/>
      <xs:attribute name="formType" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfFormSubtype">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="pdfInlineForm"/>
        <xs:element ref="pdfXobjForm"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfInlineForm">
    <xs:complexType>
      <xs:attribute name="formData" type="xs:string"/>
      <xs:attribute name="imageParameters" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfXobjForm">
    <xs:complexType>
      <xs:attribute name="xrefId" use="required" type="PDFXrefId"/>
      <xs:attribute name="doArgs" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfMatrix">
    <xs:complexType>
      <xs:attribute name="a" use="required" type="xs:float"/>
      <xs:attribute name="b" use="required" type="xs:float"/>
      <xs:attribute name="c" use="required" type="xs:float"/>
      <xs:attribute name="d" use="required" type="xs:float"/>
      <xs:attribute name="e" use="required" type="xs:float"/>
      <xs:attribute name="f" use="required" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <!-- Decomposed transform parameters for a CTM -->
  <xs:element name="pdfAffineTransform">
    <xs:complexType>
      <xs:attribute name="translation_x" use="required" type="xs:float"/>
      <xs:attribute name="translation_y" use="required" type="xs:float"/>
      <xs:attribute name="rotation" use="required" type="xs:float"/>
      <xs:attribute name="scale_x" use="required" type="xs:float"/>
      <xs:attribute name="scale_y" use="required" type="xs:float"/>
      <xs:attribute name="shear" use="required" type="xs:float"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
